# deps
node_modules/
# next
.next/
.next-e2e/
.next-e2e-prod/
out/
next-env.d.ts
*.tsbuildinfo
# env
.env
.env.local
.env.*.local
# firebase
firestore.rules
.firebaserc
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
.firebase/
# tests
coverage/
playwright-report/
test-results/
# misc
.DS_Store
*.log
.vercel
